@import './var.scss';

body {
  background-color: #fff;
}

#app {
  width: 100%;
  max-width: $--page-context-max-width;
  margin: 0 auto;
  padding: 0 20px;
}

* {
  box-sizing: border-box;
}

p, a, span, font {
  color: $--font-color;
}
